
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
}

.conteiner-button-function{
    height: 100px;

    background-color: rgba(2, 2, 2, 0.1);
    display: flex;
}

.conteiner-text-format{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgb(230, 227, 227);

    padding-bottom: 1px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.11);

    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button{
    width: 30px;
    height: 30px;
    cursor: pointer;

    margin: 0px 5px;
}

.icon{
    height: 30px;
    width: 30px;
}

#font-size-selector, #color-input{
    height: 30px;
    width: 30px;
}

#line-height, #font-selector{
    height: 30px;
}

/* Кнопки форматирования */
.bold-button{
    background-image: url(assets/bold.svg);
    background-size: cover;
    background-position: center;
}

.button-italic{
    background-image: url(assets/italic.svg);
    background-size: cover;
    background-position: center;
}

.button-inderline{
    background-image: url(assets/underlined.svg);
    background-size: cover;
    background-position: center;
}

.indent-increase{
    background-image: url(assets/indent_increase.svg);
    background-size: cover;
    background-position: center;
}

.indent-decrease{
    background-image: url(assets/indent_decrease.svg);
    background-size: cover;
    background-position: center;
}

.image-button{
    background-image: url(assets/image.svg);
    background-size: cover;
    background-position: center;
}

.insert-link{
    background-image: url(assets/link.svg);
    background-size: cover;
    background-position: center;
}

.font-changer{

}

.button-save{
    background-image: url(assets/save.svg);
    background-size: cover;
    background-position: center;
}



.conteiner-text-input{
    width: 100%;
    height: 100%;
    background-color: rgb(230, 227, 227);

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-field{
    height: 1100px;
    width: 800px;
    background-color: rgb(255, 255, 255);

    padding: 50px 30px 30px 80px;
}

.text-field:focus{
    outline: none;
}