
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
}

.conteiner-button-function{
    height: 100px;

    background-color: rgba(2, 2, 2, 0.1);
    display: flex;

    position: relative;
    z-index: 1;
}

.conteiner-text-format{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgb(230, 227, 227);

    padding-bottom: 1px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.11);

    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button{
    width: 30px;
    height: 30px;
    cursor: pointer;

    margin: 0px 5px;
}

.icon{
    height: 30px;
    width: 30px;
}

#font-size-selector, #color-input{
    height: 30px;
    width: 30px;
}

#line-height, #font-selector{
    height: 30px;
}

/* Кнопки форматирования */
.bold-button{
    background-image: url(assets/bold.svg);
    background-size: cover;
    background-position: center;
}

.button-italic{
    background-image: url(assets/italic.svg);
    background-size: cover;
    background-position: center;
}

.button-inderline{
    background-image: url(assets/underlined.svg);
    background-size: cover;
    background-position: center;
}

.indent-increase{
    background-image: url(assets/indent_increase.svg);
    background-size: cover;
    background-position: center;
}

.indent-decrease{
    background-image: url(assets/indent_decrease.svg);
    background-size: cover;
    background-position: center;
}

.image-button{
    background-image: url(assets/image.svg);
    background-size: cover;
    background-position: center;
}

.insert-link{
    background-image: url(assets/link.svg);
    background-size: cover;
    background-position: center;
}

.font-changer{

}

.button-save{
    background-image: url(assets/save.svg);
    background-size: cover;
    background-position: center;
}



.conteiner-text-input{
    width: 100%;
    height: auto;
    background-color: rgb(230, 227, 227);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 0;
}

.conteiner-page{
    position: relative;
}

.text-field{
    padding: 50px 30px 30px 80px;

    width: 600px;
    min-height: 800px;
    max-height: 800px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;

    background-color: rgb(255, 255, 255);
}

.text-field:focus{
    outline: none;
}

.number-page{
    position: absolute;
    right: 10%;
    bottom: 5%;
}

.conteiner-style{
    height: 50px;
    width: 200px;
    margin-left: 5px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}

.btn-style{
    height: 40px;
    width: 130px;
    margin-right: 5px;
}




/* Изменение скроллбара */





/* Стиль для горизонтального скролл-бара */
.conteiner-style::-webkit-scrollbar {
    height: 6px; /* Толщина скролл-бара */
    border-radius: 50px;
    padding: 1px;
  }
  
  /* Стиль для ползунка горизонтального скролл-бара */
.conteiner-style::-webkit-scrollbar-thumb {
    background-color: grey; /* Цвет ползунка */
    width: 4px;
    border-radius: 50px;
  }

  /* Стиль для фона горизонтального скролл-бара */
.conteiner-style::-webkit-scrollbar-track {
    background-color: white; /* Цвет фона */
    border-radius: 50px;
  }
  


